## 1. <u>Importing the libraries</u>

In [1]:
# Importing the warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Importing the libraries

import pandas as pd
import numpy as np

## 2. <u>Importing the Retail dataset</u>

In [4]:
# Reading the application_data csv file

orders_df = pd.read_excel('Retail_dataset.xlsx', sheet_name = 'orders')
order_items_df = pd.read_excel('Retail_dataset.xlsx', sheet_name = 'order_items')
customers_df = pd.read_excel('Retail_dataset.xlsx', sheet_name = 'customers')
payments_df = pd.read_excel('Retail_dataset.xlsx', sheet_name = 'payments')
products_df = pd.read_excel('Retail_dataset.xlsx', sheet_name = 'products')

## 3. <u>Cleaning Retail dataset</u>

### a. Working with orders_df

In [5]:
# Checking the data

orders_df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-16 18:17:02,2018-02-26

In [6]:
# Checking the Null values in each column

orders_df.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_timestamp        2965
order_estimated_delivery_date       0
dtype: int64

In [8]:
# Removing the Null records

orders_df = orders_df.dropna()

In [9]:
# Re-Checking the Null values in each column

orders_df.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_timestamp        0
order_estimated_delivery_date    0
dtype: int64

In [11]:
# Checking total no.of duplicate records

orders_df.duplicated().sum()

0

In [14]:
# Keepong only records where order_status = 'delivered'

orders_df = orders_df[orders_df['order_status'] == 'delivered']

### b. Working with order_items_df

In [15]:
# Checking the data

order_items_df.head()

,order_id,order_item_id,product_id,seller_id,price,shipping_charges
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14

In [18]:
# Checking the Null values in each column

order_items_df.isnull().sum()

order_id            0
order_item_id       0
product_id          0
seller_id           0
price               0
shipping_charges    0
dtype: int64

In [19]:
# Checking total no.of duplicate records

order_items_df.duplicated().sum()

0

### c. Working with customers_df

In [20]:
# Checking the data

customers_df.head()

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [21]:
# Checking the Null values in each column

customers_df.isnull().sum()

customer_id                 0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [22]:
# Checking total no.of duplicate records

customers_df.duplicated().sum()

3089

In [24]:
# Checking which 3089 records are dupliacted

customers_df[customers_df.duplicated()]

,customer_id,customer_zip_code_prefix,customer_city,customer_state
679,b6c083700ca8c135ba9f0f132930d4e8,8686,suzano,SP
1463,a40096fc0a3862e9e12bc55b5f8e6ab2,20561,rio de janeiro,RJ
1607,b8b3c435a58aebd788a477bed8342910,95585,arroio do sal,RS
2811,66980c3775537536f77b434d74e520f5,30290,belo horizonte,MG
3198,788313d21c3507fe890921f6e17aa679,11070,santos,SP
...,...,...,...,...
99318,4c116f8ddec984371284ab7bc860001a,79500,paranaiba,MS
99320,08f7cf00ed9ff3e0a08fc136ec272974,71900,brasilia,DF
99324,8bab3162259edfaadd1ea2e1fe7f58dc,31565,belo horizonte,MG
99327,12ab9334b1240d6d037f2b0102a49571,38050,uberaba,MG
99336,0ee57f62666561b72f2ceacad0230cbf,9530,sao caetano do sul,SP

In [25]:
# Removing the duplicated record from data

customers_df.drop_duplicates(inplace=True)

### d. Working with payments_df

In [27]:
# Checking the data

payments_df.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [28]:
# Checking the Null values in each column

payments_df.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [29]:
# Checking total no.of duplicate records

payments_df.duplicated().sum()

0

### e. Working with products_df

In [30]:
# Checking the data

products_df.head()

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,625.0,20.0,17.0,13.0

In [31]:
# Checking the Null values in each column

products_df.isnull().sum()

product_id                 0
product_category_name    170
product_weight_g           2
product_length_cm          2
product_height_cm          2
product_width_cm           2
dtype: int64

In [32]:
# Removing the Null records

products_df = products_df.dropna()

In [33]:
# Re-Checking the Null values in each column

products_df.isnull().sum()

product_id               0
product_category_name    0
product_weight_g         0
product_length_cm        0
product_height_cm        0
product_width_cm         0
dtype: int64

In [34]:
# Checking total no.of duplicate records

products_df.duplicated().sum()

0

## 4. <u>Exporting df to Excel files</u>

In [ ]:
orders_df.to_csv("orders.csv",index=False)
order_items_df.to_csv("order_items.csv",index=False)
cutomers_df.to_csv("cutomers.csv",index=False)
payments_df.to_csv("payments_df.csv",index=False)
orders_df.to_csv("orders.csv",index=False)